@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply mb-6 text-3xl font-semibold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  p {
    @apply mb-4;
  }
  a {
    @apply text-blue-500 hover:underline;
  }
  ol {
    list-style: auto;
  }
}

.text-base {
  /* increase slightly from the default 1.5em */
  line-height: 1.6em;
}

/* Post styles */

.anchor:hover {
  @apply visible;
}

.asciiprose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.asciiprose a {
  @apply transition-all;
}

.asciiprose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: '#';
}

.asciiprose *:hover > .anchor {
  @apply visible;
}

.asciiprose pre {
  @apply border border-gray-200;
}

.asciiprose code {
  @apply px-1 py-0.5 border border-gray-100 rounded-lg bg-white;
}

.asciiprose pre code {
  @apply text-gray-800 p-0;
  border: initial;
}

.asciiprose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.highlight-line {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500;
}

.asciiprose ul {
  list-style: disc
}

.asciiprose td {
  vertical-align: top;
}

.asciiprose table {
  width: 100%;
}

.asciiprose .fit-table code {
  font-size: 11px;
}

.asciiprose .tablediv {
  overflow-x: scroll;
}

.asciiprose p {
  /* this breaks everything */
  /*overflow-x: scroll;*/
}

.asciiprose .formalpara-title p {
  margin-bottom: 0;
  margin-top: 1em;
}

/* Asciidoctor default stylesheet | MIT License | http://asciidoctor.org */
/* Remove comment around @import statement below when using as a custom stylesheet */
/*@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700";*/
.asciiprose article,
.asciiprose aside,
.asciiprose details,
.asciiprose figcaption,
.asciiprose figure,
.asciiprose footer,
.asciiprose header,
.asciiprose hgroup,
.asciiprose main,
.asciiprose nav,
.asciiprose section {
  display: block;
}
/*.asciiprose summary {*/
/*  display: block;*/
/*}*/

.asciiprose audio,
.asciiprose canvas,
.asciiprose video {
  display: inline-block;
}

.asciiprose audio:not([controls]) {
  display: none;
  height: 0;
}

.asciiprose [hidden],
.asciiprose template {
  display: none;
}

.asciiprose script {
  display: none !important;
}

.asciiprose html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.asciiprose body {
  margin: 0;
}

.asciiprose a {
  background: transparent;
}

.asciiprose a:focus {
  outline: thin dotted;
}

.asciiprose a:active,
.asciiprose a:hover {
  outline: 0;
}

.asciiprose h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.asciiprose abbr[title] {
  border-bottom: 1px dotted;
}

.asciiprose b,
.asciiprose strong {
  font-weight: bold;
}

.asciiprose dfn {
  font-style: italic;
}

.asciiprose hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

.asciiprose mark {
  background: #ff0;
  color: #000;
}

.asciiprose code,
.asciiprose kbd,
.asciiprose pre,
.asciiprose samp {
  font-family: monospace;
  font-size: 1em;
}

/*.asciiprose pre {*/
/*  white-space: pre-wrap;*/
/*}*/

.asciiprose q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

.asciiprose small {
  font-size: 80%;
}

.asciiprose sub,
.asciiprose sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.asciiprose sup {
  top: -0.5em;
}

.asciiprose sub {
  bottom: -0.25em;
}

.asciiprose img {
  border: 0;
}

.asciiprose svg:not(:root) {
  overflow: hidden;
}

.asciiprose figure {
  margin: 0;
}

.asciiprose fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

.asciiprose legend {
  border: 0;
  padding: 0;
}

.asciiprose button,
.asciiprose input,
.asciiprose select,
.asciiprose textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

.asciiprose button,
.asciiprose input {
  line-height: normal;
}

.asciiprose button,
.asciiprose select {
  text-transform: none;
}

.asciiprose button,
.asciiprose html input[type="button"],
.asciiprose input[type="reset"],
.asciiprose input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.asciiprose button[disabled],
.asciiprose html input[disabled] {
  cursor: default;
}

.asciiprose input[type="checkbox"],
.asciiprose input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.asciiprose input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.asciiprose input[type="search"]::-webkit-search-cancel-button,
.asciiprose input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.asciiprose button::-moz-focus-inner,
.asciiprose input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.asciiprose textarea {
  overflow: auto;
  vertical-align: top;
}

.asciiprose table {
  border-collapse: collapse;
  border-spacing: 0;
}

.asciiprose *,
.asciiprose *:before,
.asciiprose *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.asciiprose html,
.asciiprose {
  font-size: 100%;
}

.asciiprose {
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
  padding: 0;
  margin: 0;
  font-family: "Noto Serif", "DejaVu Serif", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: auto;
}

.asciiprose .title {
  font-size: 17px;
}

.asciiprose a:hover {
  cursor: pointer;
}

.asciiprose img,
.asciiprose object,
.asciiprose embed {
  max-width: 100%;
  height: auto;
}

.asciiprose object,
.asciiprose embed {
  height: 100%;
}

.asciiprose img {
  -ms-interpolation-mode: bicubic;
}

.asciiprose .left {
  float: left !important;
}

.asciiprose .right {
  float: right !important;
}

.asciiprose .text-left {
  text-align: left !important;
}

.asciiprose .text-right {
  text-align: right !important;
}

.asciiprose .text-center {
  text-align: center !important;
}

.asciiprose .text-justify {
  text-align: justify !important;
}

.asciiprose .hide {
  display: none;
}

.asciiprose body {
  -webkit-font-smoothing: antialiased;
}

.asciiprose img,
.asciiprose object,
.asciiprose svg {
  display: inline-block;
  vertical-align: middle;
}

.asciiprose textarea {
  height: auto;
  min-height: 50px;
}

.asciiprose select {
  width: 100%;
}

.asciiprose .center {
  margin-left: auto;
  margin-right: auto;
}

.asciiprose .spread {
  width: 100%;
}

.asciiprose p.lead,
.asciiprose .paragraph.lead > p,
.asciiprose #preamble > .sectionbody > .paragraph:first-of-type p {
  font-size: 1.21875em;
  line-height: 1.6;
}

.asciiprose .subheader,
.asciiprose .admonitionblock td.content > .title,
.asciiprose .audioblock > .title,
.asciiprose .exampleblock > .title,
.asciiprose .imageblock > .title,
.asciiprose .listingblock > .title,
.asciiprose .literalblock > .title,
.asciiprose .stemblock > .title,
.asciiprose .openblock > .title,
.asciiprose .paragraph > .title,
.asciiprose .quoteblock > .title,
.asciiprose table.tableblock > .title,
.asciiprose .verseblock > .title,
.asciiprose .videoblock > .title,
.asciiprose .dlist > .title,
.asciiprose .olist > .title,
.asciiprose .ulist > .title,
.asciiprose .qlist > .title,
.asciiprose .hdlist > .title,
.asciiprose .formalpara-title {
  line-height: 1.45;
  color: #7a2518;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.25em;
}

.asciiprose div,
.asciiprose dl,
.asciiprose dt,
.asciiprose dd,
.asciiprose ul,
.asciiprose ol,
.asciiprose li,
.asciiprose h1,
.asciiprose h2,
.asciiprose h3,
.asciiprose #toctitle,
.asciiprose .sidebarblock > .content > .title,
.asciiprose h4,
.asciiprose h5,
.asciiprose h6,
.asciiprose pre,
.asciiprose form,
.asciiprose p,
.asciiprose blockquote,
.asciiprose th,
.asciiprose td {
  margin: 0;
  padding: 0;
  direction: ltr;
}

.asciiprose a {
  color: #2156a5;
  text-decoration: underline;
  line-height: inherit;
}

.asciiprose a:hover,
.asciiprose a:focus {
  color: #1d4b8f;
}

.asciiprose a img {
  border: none;
}

.asciiprose p {
  font-family: inherit;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.25em;
  text-rendering: optimizeLegibility;
}

.asciiprose p aside {
  font-size: .875em;
  line-height: 1.35;
  font-style: italic;
}

.asciiprose h1 {
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #ba3925;
  text-rendering: optimizeLegibility;
  margin-top: 10px;
  margin-bottom: .5em;
  line-height: 1.0125em;
}

.asciiprose h2,
.asciiprose h3,
.asciiprose #toctitle,
.asciiprose .sidebarblock > .content > .title,
.asciiprose h4,
.asciiprose h5,
.asciiprose h6 {
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #ba3925;
  text-rendering: optimizeLegibility;
  margin-top: 1em;
  margin-bottom: .5em;
  line-height: 1.0125em;
}

.asciiprose h1 small,
.asciiprose h2 small,
.asciiprose h3 small,
.asciiprose #toctitle small,
.asciiprose .sidebarblock > .content > .title small,
.asciiprose h4 small,
.asciiprose h5 small,
.asciiprose h6 small {
  font-size: 60%;
  color: #e99b8f;
  line-height: 0;
}

.asciiprose h1 {
  font-size: 2.125em;
}

.asciiprose h2 {
  font-size: 1.6875em;
}

.asciiprose h3,
.asciiprose #toctitle,
.asciiprose .sidebarblock > .content > .title {
  font-size: 1.375em;
}

.asciiprose h4,
.asciiprose h5 {
  font-size: 1.125em;
}

.asciiprose h6 {
  font-size: 1em;
}

.asciiprose hr {
  border: solid #ddddd8;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0;
}

.asciiprose em,
.asciiprose i {
  font-style: italic;
  line-height: inherit;
}

.asciiprose strong,
.asciiprose b {
  font-weight: bold;
  line-height: inherit;
}

.asciiprose small {
  font-size: 60%;
  line-height: inherit;
}

.asciiprose code {
  font-family: "Droid Sans Mono", "DejaVu Sans Mono", monospace;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}

.asciiprose ul,
.asciiprose ol,
.asciiprose dl {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.25em;
  list-style-position: outside;
  font-family: inherit;
}

.asciiprose ul,
.asciiprose ol,
.asciiprose ul.no-bullet,
.asciiprose ol.no-bullet {
  margin-left: 1.5em;
}

.asciiprose ul li ul,
.asciiprose ul li ol {
  margin-left: 1.25em;
  margin-bottom: 0;
  font-size: 1em;
}

.asciiprose ul.square li ul,
.asciiprose ul.circle li ul,
.asciiprose ul.disc li ul {
  list-style: inherit;
}

.asciiprose ul.square {
  list-style-type: square;
}

.asciiprose ul.circle {
  list-style-type: circle;
}

.asciiprose ul.disc {
  list-style-type: disc;
}

.asciiprose ul.no-bullet {
  list-style: none;
}

.asciiprose ol li ul,
.asciiprose ol li ol {
  margin-left: 1.25em;
  margin-bottom: 0;
}

.asciiprose dl dt {
  margin-bottom: .3125em;
  font-weight: bold;
}

.asciiprose dl dd {
  margin-bottom: 1.25em;
}

.asciiprose abbr,
.asciiprose acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px dotted #ddd;
  cursor: help;
}

.asciiprose abbr {
  text-transform: none;
}

.asciiprose blockquote {
  margin: 0 0 1.25em;
  padding: .5625em 1.25em 0 1.1875em;
  border-left: 1px solid #ddd;
}

.asciiprose blockquote cite {
  display: block;
  font-size: .9375em;
  color: rgba(0, 0, 0, 0.6);
}

.asciiprose blockquote cite:before {
  content: "\2014 \0020";
}

.asciiprose blockquote cite a,
.asciiprose blockquote cite a:visited {
  color: rgba(0, 0, 0, 0.6);
}

.asciiprose blockquote,
.asciiprose blockquote p {
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.85);
}

@media only screen and (min-width: 768px) {
  .asciiprose h1,
  .asciiprose h2,
  .asciiprose h3,
  .asciiprose #toctitle,
  .asciiprose .sidebarblock > .content > .title,
  .asciiprose h4,
  .asciiprose h5,
  .asciiprose h6 {
    line-height: 1.2;
  }

  .asciiprose h1 {
    font-size: 2.625em;
  }

  .asciiprose h2 {
    font-size: 2.3125em;
  }

  .asciiprose h3,
  .asciiprose #toctitle,
  .asciiprose .sidebarblock > .content > .title {
    font-size: 1.6875em;
  }

  .asciiprose h4 {
    font-size: 1.4375em;
  }
}

.asciiprose table {
  background: #fff;
  margin-bottom: 1.25em;
  border: solid 1px #dedede;
}

.asciiprose table thead,
.asciiprose table tfoot {
  background: #f7f8f7;
  font-weight: bold;
}

.asciiprose table thead tr th,
.asciiprose table thead tr td,
.asciiprose table tfoot tr th,
.asciiprose table tfoot tr td {
  padding: .5em .625em .625em;
  font-size: inherit;
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
}

.asciiprose table tr th,
.asciiprose table tr td {
  padding: .5625em .625em;
  font-size: inherit;
  color: rgba(0, 0, 0, 0.8);
}

.asciiprose table tr.even,
.asciiprose table tr.alt,
.asciiprose table tr:nth-of-type(even) {
  background: #f8f8f7;
}

.asciiprose table thead tr th,
.asciiprose table tfoot tr th,
.asciiprose table tbody tr td,
.asciiprose table tr td,
.asciiprose table tfoot tr td {
  display: table-cell;
  line-height: 1.6;
}

.asciiprose body {
  tab-size: 4;
}

.asciiprose h1,
.asciiprose h2,
.asciiprose h3,
.asciiprose #toctitle,
.asciiprose .sidebarblock > .content > .title,
.asciiprose h4,
.asciiprose h5,
.asciiprose h6 {
  line-height: 1.2;
  word-spacing: -0.05em;
}

.asciiprose h1 strong,
.asciiprose h2 strong,
.asciiprose h3 strong,
.asciiprose #toctitle strong,
.asciiprose .sidebarblock > .content > .title strong,
.asciiprose h4 strong,
.asciiprose h5 strong,
.asciiprose h6 strong {
  font-weight: 400;
}

.asciiprose .clearfix:before,
.asciiprose .clearfix:after,
.asciiprose .float-group:before,
.asciiprose .float-group:after {
  content: " ";
  display: table;
}

.asciiprose .clearfix:after,
.asciiprose .float-group:after {
  clear: both;
}

.asciiprose *:not(pre) > code {
  font-size: .9375em;
  font-style: normal !important;
  letter-spacing: 0;
  padding: .1em .5ex;
  word-spacing: -0.15em;
  background-color: #f7f7f8;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  line-height: 1.45;
  text-rendering: optimizeSpeed;
}

.asciiprose pre,
.asciiprose pre > code {
  line-height: 1.45;
  margin-bottom: 1.25em;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Droid Sans Mono", "DejaVu Sans Mono", monospace;
  font-weight: 400;
  text-rendering: optimizeSpeed;
  overflow-x: auto;
  display: block;
}

.asciiprose .keyseq {
  color: rgba(51, 51, 51, 0.8);
}

.asciiprose kbd {
  font-family: "Droid Sans Mono", "DejaVu Sans Mono", monospace;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  font-size: .65em;
  line-height: 1.45;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 0.1em white inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 0.1em #fff inset;
  margin: 0 .15em;
  padding: .2em .5em;
  vertical-align: middle;
  position: relative;
  top: -0.1em;
  white-space: nowrap;
}

.asciiprose .keyseq kbd:first-child {
  margin-left: 0;
}

.asciiprose .keyseq kbd:last-child {
  margin-right: 0;
}

.asciiprose .menuseq,
.asciiprose .menu {
  color: rgba(0, 0, 0, 0.8);
}

.asciiprose b.button:before,
.asciiprose b.button:after {
  position: relative;
  top: -1px;
  font-weight: 400;
}

.asciiprose b.button:before {
  content: "[";
  padding: 0 3px 0 2px;
}

.asciiprose b.button:after {
  content: "]";
  padding: 0 2px 0 3px;
}

.asciiprose p a > code:hover {
  color: rgba(0, 0, 0, 0.9);
}

.asciiprose #header,
.asciiprose #content,
.asciiprose #footnotes,
.asciiprose #footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1;
  position: relative;
  padding-left: .9375em;
  padding-right: 0.9375em;
}

.asciiprose #header:before,
.asciiprose #header:after,
.asciiprose #content:before,
.asciiprose #content:after,
.asciiprose #footnotes:before,
.asciiprose #footnotes:after,
.asciiprose #footer:before,
.asciiprose #footer:after {
  content: " ";
  display: table;
}

.asciiprose #header:after,
.asciiprose #content:after,
.asciiprose #footnotes:after,
.asciiprose #footer:after {
  clear: both;
}

.asciiprose #content {
  margin-top: 1.25em;
}

.asciiprose #content:before {
  content: none;
}

.asciiprose #header > h1:first-child {
  color: rgba(0, 0, 0, 0.85);
  margin-top: 2.25rem;
  margin-bottom: 0;
}

.asciiprose #header > h1:first-child + #toc {
  margin-top: 8px;
  border-top: 1px solid #ddddd8;
}

.asciiprose #header > h1:only-child,
.asciiprose body.toc2 #header > h1:nth-last-child(2) {
  border-bottom: 1px solid #ddddd8;
  padding-bottom: 8px;
}

.asciiprose #header .details {
  border-bottom: 1px solid #ddddd8;
  line-height: 1.45;
  padding-top: .25em;
  padding-bottom: .25em;
  padding-left: .25em;
  color: rgba(0, 0, 0, 0.6);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.asciiprose #header .details span:first-child {
  margin-left: -0.125em;
}

.asciiprose #header .details span.email a {
  color: rgba(0, 0, 0, 0.85);
}

.asciiprose #header .details br {
  display: none;
}

.asciiprose #header .details br + span:before {
  content: "\00a0\2013\00a0";
}

.asciiprose #header .details br + span.author:before {
  content: "\00a0\22c5\00a0";
  color: rgba(0, 0, 0, 0.85);
}

.asciiprose #header .details br + span#revremark:before {
  content: "\00a0|\00a0";
}

.asciiprose #header #revnumber {
  text-transform: capitalize;
}

.asciiprose #header #revnumber:after {
  content: "\00a0";
}

.asciiprose #content > h1:first-child:not([class]) {
  color: rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid #ddddd8;
  padding-bottom: 8px;
  margin-top: 0;
  padding-top: 1rem;
  margin-bottom: 1.25rem;
}

.asciiprose #toc {
  border-bottom: 1px solid #efefed;
  padding-bottom: 0.5em;
}

.asciiprose #toc > ul {
  margin-left: 0.125em;
}

.asciiprose #toc ul.sectlevel0 > li > a {
  font-style: italic;
}

.asciiprose #toc ul.sectlevel0 ul.sectlevel1 {
  margin: 0.5em 0;
}

.asciiprose #toc ul {
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
  list-style-type: none;
}

.asciiprose #toc li {
  line-height: 1.3334;
  margin-top: 0.3334em;
}

.asciiprose #toc a {
  text-decoration: none;
}

.asciiprose #toc a:active {
  text-decoration: underline;
}

.asciiprose #toctitle {
  color: #7a2518;
  font-size: 1.2em;
}

@media only screen and (min-width: 768px) {
  .asciiprose #toctitle {
    font-size: 1.375em;
  }

  .asciiprose body.toc2 {
    padding-left: 15em;
    padding-right: 0;
  }

  .asciiprose #toc.toc2 {
    margin-top: 0 !important;
    background-color: #f8f8f7;
    position: fixed;
    width: 15em;
    left: 0;
    top: 0;
    border-right: 1px solid #efefed;
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
    z-index: 1000;
    padding: 1.25em 1em;
    height: 100%;
    overflow: auto;
  }

  .asciiprose #toc.toc2 #toctitle {
    margin-top: 0;
    margin-bottom: .8rem;
    font-size: 1.2em;
  }

  .asciiprose #toc.toc2 > ul {
    font-size: .9em;
    margin-bottom: 0;
  }

  .asciiprose #toc.toc2 ul ul {
    margin-left: 0;
    padding-left: 1em;
  }

  .asciiprose #toc.toc2 ul.sectlevel0 ul.sectlevel1 {
    padding-left: 0;
    margin-top: .5em;
    margin-bottom: 0.5em;
  }

  .asciiprose body.toc2.toc-right {
    padding-left: 0;
    padding-right: 15em;
  }

  .asciiprose body.toc2.toc-right #toc.toc2 {
    border-right-width: 0;
    border-left: 1px solid #efefed;
    left: auto;
    right: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .asciiprose body.toc2 {
    padding-left: 20em;
    padding-right: 0;
  }

  .asciiprose #toc.toc2 {
    width: 20em;
  }

  .asciiprose #toc.toc2 #toctitle {
    font-size: 1.375em;
  }

  .asciiprose #toc.toc2 > ul {
    font-size: 0.95em;
  }

  .asciiprose #toc.toc2 ul ul {
    padding-left: 1.25em;
  }

  .asciiprose body.toc2.toc-right {
    padding-left: 0;
    padding-right: 20em;
  }
}

.asciiprose #content #toc {
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0dc;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: #f8f8f7;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.asciiprose #content #toc > :first-child {
  margin-top: 0;
}

.asciiprose #content #toc > :last-child {
  margin-bottom: 0;
}

.asciiprose #footer {
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1.25em;
}

.asciiprose #footer-text {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.44;
}

.asciiprose .sect1 {
  padding-bottom: 0.625em;
}

@media only screen and (min-width: 768px) {
  .asciiprose .sect1 {
    padding-bottom: 1.25em;
  }
}

.asciiprose .sect1 + .sect1 {
  border-top: 1px solid #efefed;
}

.asciiprose #content h1 > a.anchor,
.asciiprose h2 > a.anchor,
.asciiprose h3 > a.anchor,
.asciiprose #toctitle > a.anchor,
.asciiprose .sidebarblock > .content > .title > a.anchor,
.asciiprose h4 > a.anchor,
.asciiprose h5 > a.anchor,
.asciiprose h6 > a.anchor {
  position: absolute;
  z-index: 1001;
  width: 1.5ex;
  margin-left: -1.5ex;
  display: block;
  text-decoration: none !important;
  visibility: hidden;
  text-align: center;
  font-weight: 400;
}

.asciiprose #content h1 > a.anchor:before,
.asciiprose h2 > a.anchor:before,
.asciiprose h3 > a.anchor:before,
.asciiprose #toctitle > a.anchor:before,
.asciiprose .sidebarblock > .content > .title > a.anchor:before,
.asciiprose h4 > a.anchor:before,
.asciiprose h5 > a.anchor:before,
.asciiprose h6 > a.anchor:before {
  content: "\00A7";
  font-size: .85em;
  display: block;
  padding-top: 0.1em;
}

.asciiprose #content h1:hover > a.anchor,
.asciiprose #content h1 > a.anchor:hover,
.asciiprose h2:hover > a.anchor,
.asciiprose h2 > a.anchor:hover,
.asciiprose h3:hover > a.anchor,
.asciiprose #toctitle:hover > a.anchor,
.asciiprose .sidebarblock > .content > .title:hover > a.anchor,
.asciiprose h3 > a.anchor:hover,
.asciiprose #toctitle > a.anchor:hover,
.asciiprose .sidebarblock > .content > .title > a.anchor:hover,
.asciiprose h4:hover > a.anchor,
.asciiprose h4 > a.anchor:hover,
.asciiprose h5:hover > a.anchor,
.asciiprose h5 > a.anchor:hover,
.asciiprose h6:hover > a.anchor,
.asciiprose h6 > a.anchor:hover {
  visibility: visible;
}

.asciiprose #content h1 > a.link,
.asciiprose h2 > a.link,
.asciiprose h3 > a.link,
.asciiprose #toctitle > a.link,
.asciiprose .sidebarblock > .content > .title > a.link,
.asciiprose h4 > a.link,
.asciiprose h5 > a.link,
.asciiprose h6 > a.link {
  color: #ba3925;
  text-decoration: none;
}

.asciiprose #content h1 > a.link:hover,
.asciiprose h2 > a.link:hover,
.asciiprose h3 > a.link:hover,
.asciiprose #toctitle > a.link:hover,
.asciiprose .sidebarblock > .content > .title > a.link:hover,
.asciiprose h4 > a.link:hover,
.asciiprose h5 > a.link:hover,
.asciiprose h6 > a.link:hover {
  color: #a53221;
}

.asciiprose .audioblock,
.asciiprose .imageblock,
.asciiprose .literalblock,
.asciiprose .listingblock,
.asciiprose .stemblock,
.asciiprose .videoblock {
  margin-bottom: 1.25em;
}

.asciiprose .admonitionblock td.content > .title,
.asciiprose .audioblock > .title,
.asciiprose .exampleblock > .title,
.asciiprose .imageblock > .title,
.asciiprose .listingblock > .title,
.asciiprose .literalblock > .title,
.asciiprose .stemblock > .title,
.asciiprose .openblock > .title,
.asciiprose .paragraph > .title,
.asciiprose .quoteblock > .title,
.asciiprose table.tableblock > .title,
.asciiprose .verseblock > .title,
.asciiprose .videoblock > .title,
.asciiprose .dlist > .title,
.asciiprose .olist > .title,
.asciiprose .ulist > .title,
.asciiprose .qlist > .title,
.asciiprose .qlist > .title,
.asciiprose .formalpara-title {
  text-rendering: optimizeLegibility;
  text-align: left;
  font-family: "Noto Serif", "DejaVu Serif", serif;
  font-size: 1em;
  font-style: italic;
}

.asciiprose table.tableblock > caption.title {
  white-space: nowrap;
  overflow: visible;
  max-width: 0;
}

.asciiprose pre {
  padding: 4px !important;
  font-size: 15px !important;
}

.asciiprose .paragraph.lead > p,
.asciiprose #preamble > .sectionbody > .paragraph:first-of-type p {
  color: rgba(0, 0, 0, 0.85);
}

.asciiprose table.tableblock #preamble > .sectionbody > .paragraph:first-of-type p {
  font-size: inherit;
}

.asciiprose .admonitionblock > table {
  border-collapse: separate;
  border: 0;
  background: none;
  width: 100%;
}

.asciiprose .admonitionblock > table td.icon {
  text-align: center;
  width: 80px;
}

.asciiprose .admonitionblock > table td.icon img {
  max-width: none;
}

.asciiprose .admonitionblock > table td.icon .title {
  font-weight: bold;
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
  text-transform: uppercase;
}

.asciiprose .admonitionblock > table td.content {
  padding-left: 1.125em;
  padding-right: 1.25em;
  border-left: 1px solid #ddddd8;
  color: rgba(0, 0, 0, 0.6);
}

.asciiprose .admonitionblock > table td.content > :last-child > :last-child {
  margin-bottom: 0;
}

.asciiprose .exampleblock > .content {
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.asciiprose .exampleblock > .content > :first-child {
  margin-top: 0;
}

.asciiprose .exampleblock > .content > :last-child {
  margin-bottom: 0;
}

.asciiprose .sidebarblock {
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0dc;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: #f8f8f7;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.asciiprose .sidebarblock > :first-child {
  margin-top: 0;
}

.asciiprose .sidebarblock > :last-child {
  margin-bottom: 0;
}

.asciiprose .sidebarblock > .content > .title {
  color: #7a2518;
  margin-top: 0;
  text-align: center;
}

.asciiprose .exampleblock > .content > :last-child > :last-child,
.asciiprose .exampleblock > .content .olist > ol > li:last-child > :last-child,
.asciiprose .exampleblock > .content .ulist > ul > li:last-child > :last-child,
.asciiprose .exampleblock > .content .qlist > ol > li:last-child > :last-child,
.asciiprose .sidebarblock > .content > :last-child > :last-child,
.asciiprose .sidebarblock > .content .olist > ol > li:last-child > :last-child,
.asciiprose .sidebarblock > .content .ulist > ul > li:last-child > :last-child,
.asciiprose .sidebarblock > .content .qlist > ol > li:last-child > :last-child {
  margin-bottom: 0;
}

.asciiprose .literalblock pre,
.asciiprose .listingblock pre:not(.highlight),
.asciiprose .listingblock pre[class="highlight"],
.asciiprose .listingblock pre[class^="highlight "],
.asciiprose .listingblock pre.CodeRay,
.asciiprose .listingblock pre.prettyprint {
  background: #f7f7f8;
}

.asciiprose .sidebarblock .literalblock pre,
.asciiprose .sidebarblock .listingblock pre:not(.highlight),
.asciiprose .sidebarblock .listingblock pre[class="highlight"],
.asciiprose .sidebarblock .listingblock pre[class^="highlight "],
.asciiprose .sidebarblock .listingblock pre.CodeRay,
.asciiprose .sidebarblock .listingblock pre.prettyprint {
  background: #f2f1f1;
}

.asciiprose .literalblock pre,
.asciiprose .literalblock pre[class],
.asciiprose .listingblock pre,
.asciiprose .listingblock pre[class] {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  word-wrap: break-word;
  font-size: 0.8125em;
  padding: 1em;
}

.asciiprose .literalblock pre {
  padding: 1em !important;
}

.asciiprose .literalblock pre.nowrap,
.asciiprose .literalblock pre[class].nowrap,
.asciiprose .listingblock pre.nowrap,
.asciiprose .listingblock pre[class].nowrap {
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
}

@media only screen and (min-width: 768px) {
  .asciiprose .literalblock pre,
  .asciiprose .literalblock pre[class],
  .asciiprose .listingblock pre,
  .asciiprose .listingblock pre[class] {
    font-size: 0.90625em;
  }
}

@media only screen and (min-width: 1280px) {
  .asciiprose .literalblock pre,
  .asciiprose .literalblock pre[class],
  .asciiprose .listingblock pre,
  .asciiprose .listingblock pre[class] {
    font-size: 1em;
  }
}

.asciiprose .literalblock.output pre {
  color: #f7f7f8;
  background-color: rgba(0, 0, 0, 0.9);
}

.asciiprose .listingblock pre.highlightjs {
  padding: 0;
}

.asciiprose .listingblock pre.highlightjs > code {
  padding: 1em;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.asciiprose .listingblock pre.prettyprint {
  border-width: 0;
}

.asciiprose .listingblock > .content {
  position: relative;
}

.asciiprose .listingblock code[data-lang]:before {
  display: none;
  content: attr(data-lang);
  position: absolute;
  font-size: .75em;
  top: .425rem;
  right: .5rem;
  line-height: 1;
  text-transform: uppercase;
  color: #999;
}

.asciiprose .listingblock:hover code[data-lang]:before {
  display: block;
}

.asciiprose .listingblock.terminal pre .command:before {
  content: attr(data-prompt);
  padding-right: .5em;
  color: #999;
}

.asciiprose .listingblock.terminal pre .command:not([data-prompt]):before {
  content: "$";
}

.asciiprose table.pyhltable {
  border-collapse: separate;
  border: 0;
  margin-bottom: 0;
  background: none;
}

.asciiprose table.pyhltable td {
  vertical-align: top;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.45;
}

.asciiprose table.pyhltable td.code {
  padding-left: .75em;
  padding-right: 0;
}

.asciiprose pre.pygments .lineno,
.asciiprose table.pyhltable td:not(.code) {
  color: #999;
  padding-left: 0;
  padding-right: .5em;
  border-right: 1px solid #ddddd8;
}

.asciiprose pre.pygments .lineno {
  display: inline-block;
  margin-right: 0.25em;
}

.asciiprose table.pyhltable .linenodiv {
  background: none !important;
  padding-right: 0 !important;
}

.asciiprose .quoteblock {
  margin: 0 1em 1.25em 1.5em;
  display: table;
}

.asciiprose .quoteblock > .title {
  margin-left: -1.5em;
  margin-bottom: 0.75em;
}

.asciiprose .quoteblock blockquote,
.asciiprose .quoteblock blockquote p {
  color: rgba(0, 0, 0, 0.85);
  /*font-size: 1.45rem;*/
  line-height: 1.75;
  word-spacing: .1em;
  letter-spacing: 0;
  font-style: italic;
  text-align: justify;
}

.asciiprose .quoteblock blockquote {
  margin: 0;
  padding: 0;
  border: 0;
}

.asciiprose .quoteblock blockquote:before {
  content: "\201c";
  float: left;
  font-size: 2.75em;
  font-weight: bold;
  line-height: .6em;
  margin-left: -0.6em;
  color: #7a2518;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.asciiprose .quoteblock blockquote > .paragraph:last-child p {
  margin-bottom: 0;
}

.asciiprose .quoteblock .attribution {
  margin-top: .5em;
  margin-right: .5ex;
  text-align: right;
}

.asciiprose .quoteblock .quoteblock {
  margin-left: 0;
  margin-right: 0;
  padding: .5em 0;
  border-left: 3px solid rgba(0, 0, 0, 0.6);
}

.asciiprose .quoteblock .quoteblock blockquote {
  padding: 0 0 0 0.75em;
}

.asciiprose .quoteblock .quoteblock blockquote:before {
  display: none;
}

.asciiprose .verseblock {
  margin: 0 1em 1.25em 1em;
}

.asciiprose .verseblock pre {
  font-family: "Open Sans", "DejaVu Sans", sans;
  font-size: 1.15rem;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.asciiprose .verseblock pre strong {
  font-weight: 400;
}

.asciiprose .verseblock .attribution {
  margin-top: 1.25rem;
  margin-left: 0.5ex;
}

.asciiprose .quoteblock .attribution,
.asciiprose .verseblock .attribution {
  font-size: .9375em;
  line-height: 1.45;
  font-style: italic;
}

.asciiprose .quoteblock .attribution br,
.asciiprose .verseblock .attribution br {
  display: none;
}

.asciiprose .quoteblock .attribution cite,
.asciiprose .verseblock .attribution cite {
  display: block;
  letter-spacing: -0.025em;
  color: rgba(0, 0, 0, 0.6);
}

.asciiprose .quoteblock.abstract {
  margin: 0 0 1.25em 0;
  display: block;
}

.asciiprose .quoteblock.abstract blockquote,
.asciiprose .quoteblock.abstract blockquote p {
  text-align: left;
  word-spacing: 0;
}

.asciiprose .quoteblock.abstract blockquote:before,
.asciiprose .quoteblock.abstract blockquote p:first-of-type:before {
  display: none;
}

.asciiprose table.tableblock {
  max-width: 100%;
  border-collapse: separate;
}

.asciiprose table.tableblock td > .paragraph:last-child p > p:last-child,
.asciiprose table.tableblock th > p:last-child,
.asciiprose table.tableblock td > p:last-child {
  margin-bottom: 0;
}

.asciiprose table.tableblock,
.asciiprose th.tableblock,
.asciiprose td.tableblock {
  border: 0 solid #dedede;
}

.asciiprose table.grid-all th.tableblock,
.asciiprose table.grid-all td.tableblock {
  border-width: 0 1px 1px 0;
}

.asciiprose table.grid-all tfoot > tr > th.tableblock,
.asciiprose table.grid-all tfoot > tr > td.tableblock {
  border-width: 1px 1px 0 0;
}

.asciiprose table.grid-cols th.tableblock,
.asciiprose table.grid-cols td.tableblock {
  border-width: 0 1px 0 0;
}

.asciiprose table.grid-all * > tr > .tableblock:last-child,
.asciiprose table.grid-cols * > tr > .tableblock:last-child {
  border-right-width: 0;
}

.asciiprose table.grid-rows th.tableblock,
.asciiprose table.grid-rows td.tableblock {
  border-width: 0 0 1px 0;
}

.asciiprose table.grid-all tbody > tr:last-child > th.tableblock,
.asciiprose table.grid-all tbody > tr:last-child > td.tableblock,
.asciiprose table.grid-all thead:last-child > tr > th.tableblock,
.asciiprose table.grid-rows tbody > tr:last-child > th.tableblock,
.asciiprose table.grid-rows tbody > tr:last-child > td.tableblock,
.asciiprose table.grid-rows thead:last-child > tr > th.tableblock {
  border-bottom-width: 0;
}

.asciiprose table.grid-rows tfoot > tr > th.tableblock,
.asciiprose table.grid-rows tfoot > tr > td.tableblock {
  border-width: 1px 0 0 0;
}

.asciiprose table.frame-all {
  border-width: 1px;
}

.asciiprose table.frame-sides {
  border-width: 0 1px;
}

.asciiprose table.frame-topbot {
  border-width: 1px 0;
}

.asciiprose th.halign-left,
.asciiprose td.halign-left {
  text-align: left;
}

.asciiprose th.halign-right,
.asciiprose td.halign-right {
  text-align: right;
}

.asciiprose th.halign-center,
.asciiprose td.halign-center {
  text-align: center;
}

.asciiprose th.valign-top,
.asciiprose td.valign-top {
  vertical-align: top;
}

.asciiprose th.valign-bottom,
.asciiprose td.valign-bottom {
  vertical-align: bottom;
}

.asciiprose th.valign-middle,
.asciiprose td.valign-middle {
  vertical-align: middle;
}

.asciiprose table thead th,
.asciiprose table tfoot th {
  font-weight: bold;
}

.asciiprose tbody tr th {
  display: table-cell;
  line-height: 1.6;
  background: #f7f8f7;
}

.asciiprose tbody tr th,
.asciiprose tbody tr th p,
.asciiprose tfoot tr th,
.asciiprose tfoot tr th p {
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}

.asciiprose p.tableblock > code:only-child {
  background: none;
  padding: 0;
}

.asciiprose p.tableblock {
  font-size: 1em;
}

.asciiprose td > div.verse {
  white-space: pre;
}

.asciiprose ol {
  margin-left: 1.75em;
}

.asciiprose ul li ol {
  margin-left: 1.5em;
}

.asciiprose dl dd {
  margin-left: 1.125em;
}

.asciiprose dl dd:last-child,
.asciiprose dl dd:last-child > :last-child {
  margin-bottom: 0;
}

.asciiprose ol > li p,
.asciiprose ul > li p,
.asciiprose ul dd,
.asciiprose ol dd,
.asciiprose .olist .olist,
.asciiprose .ulist .ulist,
.asciiprose .ulist .olist,
.asciiprose .olist .ulist {
  margin-bottom: 0.625em;
}

.asciiprose ul.unstyled,
.asciiprose ol.unnumbered,
.asciiprose ul.checklist,
.asciiprose ul.none {
  list-style-type: none;
}

.asciiprose ul.unstyled,
.asciiprose ol.unnumbered,
.asciiprose ul.checklist {
  margin-left: 0.625em;
}

.asciiprose ul.checklist li > p:first-child > .fa-square-o:first-child,
.asciiprose ul.checklist li > p:first-child > .fa-check-square-o:first-child {
  width: 1em;
  font-size: 0.85em;
}

.asciiprose ul.checklist li > p:first-child > input[type="checkbox"]:first-child {
  width: 1em;
  position: relative;
  top: 1px;
}

.asciiprose ul.inline {
  margin: 0 auto .625em auto;
  margin-left: -1.375em;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.asciiprose ul.inline > li {
  list-style: none;
  float: left;
  margin-left: 1.375em;
  display: block;
}

.asciiprose ul.inline > li > * {
  display: block;
}

.asciiprose .unstyled dl dt {
  font-weight: 400;
  font-style: normal;
}

.asciiprose ol.arabic {
  list-style-type: decimal;
}

.asciiprose ol.decimal {
  list-style-type: decimal-leading-zero;
}

.asciiprose ol.loweralpha {
  list-style-type: lower-alpha;
}

.asciiprose ol.upperalpha {
  list-style-type: upper-alpha;
}

.asciiprose ol.lowerroman {
  list-style-type: lower-roman;
}

.asciiprose ol.upperroman {
  list-style-type: upper-roman;
}

.asciiprose ol.lowergreek {
  list-style-type: lower-greek;
}

.asciiprose .hdlist > table,
.asciiprose .colist > table {
  border: 0;
  background: none;
}

.asciiprose .hdlist > table > tbody > tr,
.asciiprose .colist > table > tbody > tr {
  background: none;
}

.asciiprose td.hdlist1,
.asciiprose td.hdlist2 {
  vertical-align: top;
  padding: 0 0.625em;
}

.asciiprose td.hdlist1 {
  font-weight: bold;
  padding-bottom: 1.25em;
}

.asciiprose .literalblock + .colist,
.asciiprose .listingblock + .colist {
  margin-top: -0.5em;
}

.asciiprose .colist > table tr > td:first-of-type {
  padding: 0 .75em;
  line-height: 1;
}

.asciiprose .colist > table tr > td:last-of-type {
  padding: 0.25em 0;
}

.asciiprose .thumb,
.asciiprose .th {
  line-height: 0;
  display: inline-block;
  border: solid 4px #fff;
  -webkit-box-shadow: 0 0 0 1px #ddd;
  box-shadow: 0 0 0 1px #ddd;
}

.asciiprose .imageblock.left,
.asciiprose .imageblock[style*="float: left"] {
  margin: 0.25em 0.625em 1.25em 0;
}

.asciiprose .imageblock.right,
.asciiprose .imageblock[style*="float: right"] {
  margin: 0.25em 0 1.25em 0.625em;
}

.asciiprose .imageblock > .title {
  margin-bottom: 0;
}

.asciiprose .imageblock.thumb,
.asciiprose .imageblock.th {
  border-width: 6px;
}

.asciiprose .imageblock.thumb > .title,
.asciiprose .imageblock.th > .title {
  padding: 0 0.125em;
}

.asciiprose .image.left,
.asciiprose .image.right {
  margin-top: .25em;
  margin-bottom: .25em;
  display: inline-block;
  line-height: 0;
}

.asciiprose .image.left {
  margin-right: 0.625em;
}

.asciiprose .image.right {
  margin-left: 0.625em;
}

.asciiprose a.image {
  text-decoration: none;
  display: inline-block;
}

.asciiprose a.image object {
  pointer-events: none;
}

.asciiprose sup.footnote,
.asciiprose sup.footnoteref {
  font-size: .875em;
  position: static;
  vertical-align: super;
}

.asciiprose sup.footnote a,
.asciiprose sup.footnoteref a {
  text-decoration: none;
}

.asciiprose sup.footnote a:active,
.asciiprose sup.footnoteref a:active {
  text-decoration: underline;
}

.asciiprose #footnotes {
  padding-top: .75em;
  padding-bottom: .75em;
  margin-bottom: 0.625em;
}

.asciiprose #footnotes hr {
  width: 20%;
  min-width: 6.25em;
  margin: -0.25em 0 0.75em 0;
  border-width: 1px 0 0 0;
}

.asciiprose #footnotes .footnote {
  padding: 0 .375em 0 .225em;
  line-height: 1.3334;
  font-size: .875em;
  margin-left: 1.2em;
  text-indent: -1.05em;
  margin-bottom: 0.2em;
}

.asciiprose #footnotes .footnote a:first-of-type {
  font-weight: bold;
  text-decoration: none;
}

.asciiprose #footnotes .footnote:last-of-type {
  margin-bottom: 0;
}

.asciiprose #content #footnotes {
  margin-top: -0.625em;
  margin-bottom: 0;
  padding: 0.75em 0;
}

.asciiprose .gist .file-data > table {
  border: 0;
  background: #fff;
  width: 100%;
  margin-bottom: 0;
}

.asciiprose .gist .file-data > table td.line-data {
  width: 99%;
}

.asciiprose div.unbreakable {
  page-break-inside: avoid;
}

.asciiprose .big {
  font-size: larger;
}

.asciiprose .small {
  font-size: smaller;
}

.asciiprose .underline {
  text-decoration: underline;
}

.asciiprose .overline {
  text-decoration: overline;
}

.asciiprose .line-through {
  text-decoration: line-through;
}

.asciiprose .aqua {
  color: #00bfbf;
}

.asciiprose .aqua-background {
  background-color: #00fafa;
}

.asciiprose .black {
  color: #000;
}

.asciiprose .black-background {
  background-color: #000;
}

.asciiprose .blue {
  color: #0000bf;
}

.asciiprose .blue-background {
  background-color: #0000fa;
}

.asciiprose .fuchsia {
  color: #bf00bf;
}

.asciiprose .fuchsia-background {
  background-color: #fa00fa;
}

.asciiprose .gray {
  color: #606060;
}

.asciiprose .gray-background {
  background-color: #7d7d7d;
}

.asciiprose .green {
  color: #006000;
}

.asciiprose .green-background {
  background-color: #007d00;
}

.asciiprose .lime {
  color: #00bf00;
}

.asciiprose .lime-background {
  background-color: #00fa00;
}

.asciiprose .maroon {
  color: #600000;
}

.asciiprose .maroon-background {
  background-color: #7d0000;
}

.asciiprose .navy {
  color: #000060;
}

.asciiprose .navy-background {
  background-color: #00007d;
}

.asciiprose .olive {
  color: #606000;
}

.asciiprose .olive-background {
  background-color: #7d7d00;
}

.asciiprose .purple {
  color: #600060;
}

.asciiprose .purple-background {
  background-color: #7d007d;
}

.asciiprose .red {
  color: #bf0000;
}

.asciiprose .red-background {
  background-color: #fa0000;
}

.asciiprose .silver {
  color: #909090;
}

.asciiprose .silver-background {
  background-color: #bcbcbc;
}

.asciiprose .teal {
  color: #006060;
}

.asciiprose .teal-background {
  background-color: #007d7d;
}

.asciiprose .white {
  color: #bfbfbf;
}

.asciiprose .white-background {
  background-color: #fafafa;
}

.asciiprose .yellow {
  color: #bfbf00;
}

.asciiprose .yellow-background {
  background-color: #fafa00;
}

.asciiprose span.icon > .fa {
  cursor: default;
}

.asciiprose .admonitionblock td.icon [class^="fa icon-"] {
  font-size: 2.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: default;
}

.asciiprose .admonitionblock td.icon .icon-note:before {
  content: "\f05a";
  color: #19407c;
}

.asciiprose .admonitionblock td.icon .icon-tip:before {
  content: "\f0eb";
  text-shadow: 1px 1px 2px rgba(155, 155, 0, 0.8);
  color: #111;
}

.asciiprose .admonitionblock td.icon .icon-warning:before {
  content: "\f071";
  color: #bf6900;
}

.asciiprose .admonitionblock td.icon .icon-caution:before {
  content: "\f06d";
  color: #bf3400;
}

.asciiprose .admonitionblock td.icon .icon-important:before {
  content: "\f06a";
  color: #bf0000;
}

.asciiprose .conum[data-value] {
  display: inline-block;
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  font-size: .75em;
  width: 1.67em;
  height: 1.67em;
  line-height: 1.67em;
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.asciiprose .conum[data-value] * {
  color: #fff !important;
}

.asciiprose .conum[data-value] + b {
  display: none;
}

.asciiprose .conum[data-value]:after {
  content: attr(data-value);
}

.asciiprose pre .conum[data-value] {
  position: relative;
  top: -0.125em;
}

.asciiprose b.conum * {
  color: inherit !important;
}

.asciiprose .conum:not([data-value]):empty {
  display: none;
}

.asciiprose dt,
.asciiprose th.tableblock,
.asciiprose td.content,
.asciiprose div.footnote {
  text-rendering: optimizeLegibility;
}

.asciiprose h1,
.asciiprose h2,
.asciiprose p,
.asciiprose td.content,
.asciiprose span.alt {
  letter-spacing: -0.01em;
}

.asciiprose p strong,
.asciiprose td.content strong,
.asciiprose div.footnote strong {
  letter-spacing: -0.005em;
}

.asciiprose p,
.asciiprose blockquote,
.asciiprose dt,
.asciiprose td.content,
.asciiprose p {
  margin-bottom: 1.25rem;
}

.asciiprose .sidebarblock p,
.asciiprose .sidebarblock dt,
.asciiprose .sidebarblock td.content,
.asciiprose p.tableblock {
  font-size: 1em;
}

.asciiprose .exampleblock > .content {
  background-color: #fffef7;
  border-color: #e0e0dc;
  -webkit-box-shadow: 0 1px 4px #e0e0dc;
  box-shadow: 0 1px 4px #e0e0dc;
}

.asciiprose .print-only {
  display: none !important;
}

.asciiprose li {
  margin-bottom: 0.625em;
}

@media print {
  @page {
    margin: 1.25cm 0.75cm;
  }

  .asciiprose * {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .asciiprose a {
    color: inherit !important;
    text-decoration: underline !important;
  }

  .asciiprose a.bare,
  .asciiprose a[href^="#"],
  .asciiprose a[href^="mailto:"] {
    text-decoration: none !important;
  }

  .asciiprose a[href^="http:"]:not(.bare):after,
  .asciiprose a[href^="https:"]:not(.bare):after {
    content: "(" attr(href) ")";
    display: inline-block;
    font-size: .875em;
    padding-left: 0.25em;
  }

  .asciiprose abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .asciiprose pre,
  .asciiprose blockquote,
  .asciiprose tr,
  .asciiprose img,
  .asciiprose object,
  .asciiprose svg {
    page-break-inside: avoid;
  }

  .asciiprose thead {
    display: table-header-group;
  }

  .asciiprose svg {
    max-width: 100%;
  }

  .asciiprose p,
  .asciiprose blockquote,
  .asciiprose dt,
  .asciiprose td.content {
    font-size: 1em;
    orphans: 3;
    widows: 3;
  }

  .asciiprose h2,
  .asciiprose h3,
  .asciiprose #toctitle,
  .asciiprose .sidebarblock > .content > .title {
    page-break-after: avoid;
  }

  .asciiprose #toc,
  .asciiprose .sidebarblock,
  .asciiprose .exampleblock > .content {
    background: none !important;
  }

  .asciiprose #toc {
    border-bottom: 1px solid #ddddd8 !important;
    padding-bottom: 0 !important;
  }

  .asciiprose .sect1 {
    padding-bottom: 0 !important;
  }

  .asciiprose .sect1 + .sect1 {
    border: 0 !important;
  }

  .asciiprose #header > h1:first-child {
    margin-top: 1.25rem;
  }

  .asciiprose body.book #header {
    text-align: center;
  }

  .asciiprose body.book #header > h1:first-child {
    border: 0 !important;
    margin: 2.5em 0 1em 0;
  }

  .asciiprose body.book #header .details {
    border: 0 !important;
    display: block;
    padding: 0 !important;
  }

  .asciiprose body.book #header .details span:first-child {
    margin-left: 0 !important;
  }

  .asciiprose body.book #header .details br {
    display: block;
  }

  .asciiprose body.book #header .details br + span:before {
    content: none !important;
  }

  .asciiprose body.book #toc {
    border: 0 !important;
    text-align: left !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .asciiprose body.book #toc,
  .asciiprose body.book #preamble,
  .asciiprose body.book h1.sect0,
  .asciiprose body.book .sect1 > h2 {
    page-break-before: always;
  }

  .asciiprose .listingblock code[data-lang]:before {
    display: block;
  }

  .asciiprose #footer {
    background: none !important;
    padding: 0 0.9375em;
  }

  .asciiprose #footer-text {
    color: rgba(0, 0, 0, 0.6) !important;
    font-size: 0.9em;
  }

  .asciiprose .hide-on-print {
    display: none !important;
  }

  .asciiprose .print-only {
    display: block !important;
  }

  .asciiprose .hide-for-print {
    display: none !important;
  }

  .asciiprose .show-for-print {
    display: inherit !important;
  }
}

